* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EAEAEA;
}

.navbar.container {
    display: flex;
    width: 83.33%;
    height: 6rem;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid black;
    background-color: #EAEAEA;
    z-index: 100;
    top: 0;
    position: sticky;
    list-style: none;
    margin: auto;
}

.child:last-child {
    width: 30%;
}

.child.active a {
    color: black;
    font-weight: bold;
}

.logo {
    line-height: 1;
}

.link {
    font-family: SVN-Gallery Modern;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: gray;
    font-size: 18px;
}

.link:hover {
    color: black;
    font-weight: bold;
}

#account {
    float: right;
}

.main-content {
    width: 83.33%;
    height: calc(100vh - 6rem);
    margin: 0 auto;
}